<div layout="row">
    <div class="card-view">
        <div class="card-view-inner">
            <div layout="row" class="md-subhead updated-time">
                Channels
            </div>
            <div>
                <div tab-index="0" class="channel-tile" style="background:url('https://sbglrecdnems03.cdnsrv.jio.com/jiotv.catchup.cdn.jio.com/dare_images/images/{{channel.logoUrl}}');" ng-repeat="channel in channels" ng-click="watch($index)">
                </div>
            </div>
        </div>
    </div>
</div>