<form name="loginForm">
    <md-content class="md-no-momentum">
        <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon class="email"><i class="material-icons">phone</i></md-icon>
        <input ng-model="user.phone" type="number" placeholder="phone number (required)" ng-required="true">
        <div ng-messages="loginForm.user.phone.$error">
            <div ng-message="required">This is required.</div>
        </div>


        </md-input-container>
        <md-input-container class="md-block">
            <!-- Use floating placeholder instead of label -->
            <md-icon class="email"><i class="material-icons">vpn_key</i></md-icon>
            <input ng-model="user.password" type="password" placeholder="password (required)" ng-required="true">
            <div ng-messages="loginForm.user.password.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
		
		<md-input-container class="md-block">
            
            <md-icon class="email"><i class="material-icons">vpn_key</i></md-icon>
            <input ng-model="user.pin" type="password" placeholder="pin (required)" ng-required="true">
            <div ng-messages="loginForm.user.pin.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <md-button class="md-raised md-primary" ng-disabled="loading" ng-click="login()">Login</md-button>
            
        </md-input-container>
        
    </md-content>
 </form>